/*Styles here*/
body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
  }

  p,
  li {
    font-family: 'PT Serif', serif;
  }

  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(auto-fit, minmax(100px,1fr)) ;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5em;
    height: 100vh;
  }
  .styles-icon{
    grid-column: 2 ;
    grid-row:1;
    text-align:center;
  }
  .styles-icon img{
    width: 10.5rem;
  }
  .styles-search{
    text-align: center;
    grid-column: 1/-1 ;
    grid-row:2;
  }
  .input{
      width: 66vw;
  }
  .input-icon{
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .styles-recent-post{
    grid-column: 1/-1 ;
    grid-row:3;
  }

  .recent-post{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
  }

  .recent-post-heading{
    color: blue;

  }
 